{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nowa grupa</h1>

    {{ form_start(form) }}

    {% include '_validation.html.twig' %}

        {{ form_widget(form) }}
        <input type="submit" class="btn btn-xs btn-primary" value="Zapisz" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('grupa_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
