{{ form_start(form) }}

{{ form_widget(form) }}

<div class="row">
<div class="col-md-4">
  <input type="submit" class="btn btn-primary" value="Edytuj" />
</div>

{{ form_end(form) }}

<hr>
<div class="col-md-8">
  <a href="{{ path('jednostka_index') }}" class="btn btn-secondary">Powrót</a>
</div>


</div>
