{{ form_start(form) }}
  {% include '_validation.html.twig' %}
    {{ form_widget(form) }}


    <div class="row" style="margin-top:20px;">

      <div class="col-md-4">
        <input type="submit" class="btn btn-primary btn-sm" value="Zapisz" />
      </div>

      <div class="col-md-8">
        <a href="{{ path('material_index') }}" class="btn btn-secondary btn-sm">Wróć do listy materiałów</a>
      </div>

    </div>

{{ form_end(form) }}
